@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
/* navigation bar start*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Sanchez'
}
html {
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.header{
  border-bottom: 1px solid #E2E8F0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.nav-item {
  margin-left: 5rem;
}
.nav-link{
  font-size: 1.6rem;
  font-weight: 400;
  color: #BBBBBB;
}
.nav-link:hover{
  color: #03506F;
}
.nav-logo{
  font-size: 2rem;
  font-weight:500;
  color:#03506F;
}
.hamburger {
  display: none;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
@media only screen and (max-width: 768px) {
  .nav-bar{
      position: fixed;
      left: -100%;
      top: 5rem;
      flex-direction: column;
      background-color: #fff;
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow:
          0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-bar.active {
      left: 0;
  }

  .nav-item {
      margin: 2.5rem 0;
  }
  .hamburger {
    display: block;
    cursor: pointer;
   
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}
.hamburger.active:hover{
  color:#03506F;
}
}
/*end of navigation bar*/
/*starting card layout*/
.container{
  max-width: 1300px;
  width: 100%;
  padding: 0 20px;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.card{
  border-radius: 10px;
  overflow: hidden;
  padding-top: 20px;
}
.card-top{
  height: 300px;
  width: 100%x;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.card:nth-child(1) .card-top{
  background-image: url("images/4.PNG");
}
.card:nth-child(2) .card-top{
  background-image: url("images/5.PNG");
}
.card:nth-child(3) .card-top{
  background-image: url("images/3.PNG");
}
.card:nth-child(4) .card-top{
  background-image: url("images/1.PNG");
}
.card:nth-child(5) .card-top{
  background-image: url("images/2.PNG");
}
.card:nth-child(6) .card-top{
  background-image: url("images/6.PNG");
}
@media screen and (max-width: 900px) {
  .card-top{
    margin-top:20px;
      height: 200px;
  }

}
@media screen and (max-width: 756px){
  .container{
      grid-template-columns: 1fr;
  }

  .card-top{
     
      height: 250px;
  }
  .img{
  float: none;
  overflow: hidden;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  
  
  }
  .container2{
    text-align:center;

  }

}
.container2{
  max-width: 1300px;
  width: 100%;
  padding:20px 20px;
  margin-top: 50px;
  margin-bottom: 20px;
  justify-content: center; 
  
}
img {
  float:left;
  height: auto;
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  margin-right:70px;
  margin-bottom: 50px;
  margin-left: 50px;

}
.icons{
  margin:0px 10px;
  margin-top:50px;
  text-decoration: none;
  font-size: 2em;
  color:#101010;
  text-align: center;
  display:inline;
  justify-content: center; 
}
.icons:hover{
  color:#03506F;
}
